body{
   
    width: 70vw;
    margin-left: 14vw;
}
.container{
    background-color: gainsboro;
    height: 100%;
}
.container h2{
    margin-left: 30%;
    color: red;
    text-shadow: 1px 1px 2px red;
    font-size: 3vw;
}
.container img{
    margin-left: 20vw;
    width:30vw;
     height:20vw;
}
.container h4{
    font-size: 2vw;
    margin-left: 1.8vw;
}
.container p{
    /* font-size: 1vw; */
}
.hand{
    width: 20vw;
    height: 20vw;
    background-color: red;
}